body {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

ul {
    margin-top: 25px;
}

li {
    margin-bottom: 15px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: rgb(112, 0, 255);
}

main {
    max-width: 60%;
    margin: 0 auto;
    padding: 5px;
    background: rgb(112, 0, 255);
    background: linear-gradient(170deg, rgba(112, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
    display: grid;
    grid-template-columns: 50% auto;
    grid-column-gap: 5px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.section__left {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding-top: 15px;
}

.section__right {
    background: #fff;
    padding: 15px;
    padding-top: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 100px;
}

.section__about {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.78);
    padding: 10px;
    position: relative;
    margin-bottom: 30px;
}

.about__photo {
    display: block;
    margin: 0 auto;
    margin-top: -80px;
}

.section__contact {
    display: grid;
    grid-row-gap: 25px;
    padding: 15px;
}

.contact__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 14px;
}

.contact__link:hover {
    background: rgba(255, 255, 255, 0.35);
}

.section__lang {
    padding: 15px;
}

.lang__wrap {
    display: grid;
    grid-row-gap: 20px;
}

.lang__row {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 10px;
    align-items: center;
}

.lang__circle {
    display: grid;
    grid-template-columns: repeat(5, 25px);
    grid-column-gap: 20px;
}

.lang__name {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.circle {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.circle.active {
    background-color: #fff;
}

.skill__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #DE0F16;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    min-width: 215px;
    text-align: center;
}

.skill__subtitle {
    font-size: 24px;
    line-height: 26px;
    color: #000000;
}

.skill__subtitle.bold {
    font-weight: 600;
}

.skill__subtitle.red {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: #DE0F16;
    margin-bottom: 15px;
}

.skill__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #847D7D;
    margin-bottom: 15px;
}

.grid__skills {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;
}

.grid__skills img {
    max-width: 60px;
}

.icon-phone:before {
    content: "\e942";
}

.icon-mobile:before {
    content: "\e958";
}

.icon-clock:before {
    content: "\e900";
}