body{
    font-family: Georgia, Arial, serif;
}


._container{
    padding: 0 40px;
    max-width: 1280px;
    margin: 0 auto;
    @media screen and (max-width:$desctop){
        width:100%;
        padding: 0 30px;
    }
}

h2{
    @include h2;
}


h3{
    @include h3;
}

h4{
    @include h4;
}

h5{
    @include h5;
}

p{
    @include paragraph-l;
}

a:hover{
    cursor: pointer;
}