/* Breakpoints */

$desctop:1279px;
$tablet:767px;
$mobile:320px;

/* Colors */

$primary: #F1CDB3;
$primary-light: #FDDCC4;
$light-xl: #FFFFFF;
$light-l: #F6F6F6;
$light-s:#FAFAFA;
$dark-s: #CDCDCD;
$dark-m: #B2B2B2;
$dark-l: #545454;
$dark-xl: #4C4C4C;
$dark-2xl: #444444;
$dark-3xl: #292929;
$grey: #C4C4C4;
$white: #ffffff;

