.button{
    width: 208px;
    height: 56px;
    background: $primary;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $dark-3xl;
    .main__body &{
        margin-top: 40px;
    }
}