.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 61px;
    height: 120px;
    &__logo{
        &-title{
            @include logo-title;
            color: $primary;
        }
        &-subtitle{
            @include logo_subtitle;
            color: $white;
            margin-top: 8px;
            margin-left: 4px;
        }
    }
    &__menu{
        display: flex;
        list-style: none;
        &-item{
            margin-left: 36px;
        }
        &-link{
            @include paragraph-l;
            color: $dark-s ;
            text-decoration: none;
            &.active{
                color: $light-s;
                border-bottom: 3px solid $primary;
                padding-bottom: 3px;
            }
        }
        
    }
}

